.btn-pagina {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-pagina:hover:not(:disabled) {
  background-color: #0056b3;
}

.btn-pagina:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.paginacion-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.numeros-pags{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
