.home-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
  color: #004085;
  text-align: center;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #f8f9fa;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
}

/* estilo botones*/
.tabs a {
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.tabs a:hover {
  background-color: #0056b3;
}

.tabs a.active {
  background-color: #28a745;
}

.panel {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* responsividad */
@media (max-width: 768px) {
  .tabs {
    flex-direction: column;
    align-items: stretch;
  }

  .tabs a {
    text-align: center;
    width: 100%;
  }

  h1 {
    text-align: center;
  }
}
